

.frontbox-small {
	min-height: 30px;
	height: auto;
	min-width: 40px;
	width: auto;
	background-color: #ffffff;
	opacity:0.85;
}

.frontbox-small:hover {

	opacity:0.95;
	background-color: #dfdfdf;
	
}
.frontbox-small-content {
	padding: 10px;
	margin: 20px;
	
}

.frontbox-small-header h5{
	display:inline-block;
	background: #232323;
	margin: 0;
	padding: 10px;
	color: #efefef;
	font-family: 'Open Sans', sans-serif;
}

.frontbox-large {
	min-width: 10%;
	min-height: 10%;
	background-color: #ffffff;
	opacity:0.9;
	
}

.frontbox-large-content {

	padding: 20px;
	margin: 10px;
}

.frontbox-large-header h4{
	display:inline-block;
	background: #232323;
	margin: 0;
	padding: 10px;
	color: #efefef;
	font-family: 'Open Sans', sans-serif;
}
