



html, body {
    height:100%;
    min-height:100%;	
	font-family: 'Open Sans', sans-serif;
}

#innhald {
	padding-top: 45px;
}

#loyper {
	padding-top: 45px;
}

.nav {
	padding-right: 15px;
	padding-left: 15px;
}

.navbar-default .navbar-brand {
  color: #efefef;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #dfdfdf;
}


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}




.content {
	padding-top: 30vh;
}




.fullscreen-cont {
    display:block;
	position:relative;
    min-width:100%;
    min-height:100%;
}
.fullscreen-img {
    display:block;
	position:absolute;
	z-index:1;
	
    min-width:100%;
    min-height:100%;
    background:transparent url('../img/bglang.jpg') center center no-repeat;
    background-size:cover;
	}
.content {
    display:block;position:relative;z-index:2;
	min-height: 90vh;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.footer {
	font-family: 'Open Sans', sans-serif;
	min-height: 50vh;
	background-color: #232323;
}

.footer h3 {
	color: #dfdfdf;
}

.footer h3 {
	color: #dfdfdf;
}

.footer h4 {
	color: #dfdfdf;
}

.footer p {
	color: #dfdfdf;
}

#home {
min-height: 100vh;
}

#toppanel {
	background-color: #232323;		
}

#toppanel p {
	color: #efefef;
}

#toppanel h5 {
	color: #efefef;
}


#kontakt,#sosialmedia {
	padding: 20px;
}

#sponsor {
	padding-top: 10vh;
	min-height: 80vh;
	padding-bottom: 20vh;
}
#kamera,  #ver {
	min-height: 90vh;
	padding-top: 10vh;
}

#kamera-content , #ver-content{
	padding-top: 10vh;

}




.footercolumn {
	padding: 100px;
	padding-top: 0px;	
}


.panel-group .panel {
	border-radius: 0px;
}

.panel-default {
  background-color: #f9f9f9;
}


.panel-collapse {
  background-color: #ffffff;
}


.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
}

.panel-group .panel {
  margin-bottom: 0;
  overflow: hidden;
}


.nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
}

#map {
	margin-top: 5px;
	
	margin-bottom: 5px;
	
}